:host {
  display: flex;
  align-items: baseline;
}

::ng-deep .mat-form-field-infix {
  width: auto !important;
}

mat-form-field.error * {
  color:red;
}

.auxiliary-view {
  display: flex;
  justify-content: center;

  width: 2.5rem;
}
