:host {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 64px);

  div.vertical-stack {
    flex-grow: 1
  }
}

.edit-action-bar {
  width: 100%;
}

.game-title {
  font-size: 18px;
  width: 100%;
  padding: 2rem;
  box-sizing: border-box;
}

mat-tab-group {
  width: 75vw;
  flex-grow: 1;
}

.question-list-container.expand-down-on-display {
  width: 100%;

  overflow-y: scroll;
  flex-basis: 0;
  flex-grow: 1;

  max-height: 0;

  box-sizing: border-box;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  gap: 3rem;

  &.display {
    max-height: 100vh;
  }
}


.game-words-panel {
  height: 100%;
  width: 100%;

  .baloon-display {
    flex-grow: 1;
  }

  .baloon-display-heading {
    display: flex;
    flex-direction: row;

    font-size: 1.25rem;
  }
}

.score-board {
  margin: 6rem;
  border-spacing: 0 15px;

  thead tr {
    font-size: 1.5rem;

    td.col-right {
      text-align: center;
    }

    td.col-wrong {
      text-align: center;
    }

  }

  tbody {
    tr {
      font-size: 1.25rem;
      height: 3rem;
      background: #ffffffc0;


      td.col-term {
        width: 30vw;
      }

      td.col-right {
        width: 8vw;
        color: green;
        text-align: center;
      }

      td.col-wrong {
        width: 8vw;
        color: red;
        text-align: center;
      }

      &.completed {
        td.col-term {
          font-weight: bold;
          color: blue;
        }
      }
    }
  }
}

