

<div
  *ngIf="gameStatus.gameState === 'not-started'"
  class="vertical-stack"
  >

  <div class="edit-action-bar" [ngClass]="{editing: editing}">
    <button mat-raised-button color="primary" (click)="handleAddQuestion()">הוסף שאלה</button>
    <div class="separator"></div>
    <button mat-raised-button color="primary" >שמירה למועדפים</button>
    <button mat-raised-button color="primary" >טעינה ממועדפים</button>
  </div>

  <div class="game-title" *ngIf="!editing">
    {{gameTitle}} ({{gameQuestionDefs.length}} שאלות)
  </div>


  <mat-form-field *ngIf="editing" class="form-field-rtl game-title">
    <mat-label>כותרת המשחק</mat-label>
    <input matInput [(ngModel)]="gameTitle">
  </mat-form-field>



  <div class="question-list-container expand-down-on-display"
      (click)="handleClickOnQuestionListContainer($event)"
      [ngClass]="{display: editing}">
    <app-word-pop-question-editor
      *ngFor="let questionDefinition of gameQuestionDefs; let i = index"
      [questionDefinition]="questionDefinition"

      (focusOnQuestion)="editedQuestion=questionDefinition"
      (deleteRequested)="handleDeleteQuestion(i)"
      [editWords]="editedQuestion===questionDefinition"
      [serialNumber]="i+1"
      >
    </app-word-pop-question-editor>
  </div>

  <button mat-raised-button
    color="primary"
    [disabled]="!terminals?.length"
    (click)="startGame()">
    התחל משחק
  </button>
  <div *ngIf="!terminals?.length">משחק זה דורש לפחות משתתף אחד בשיעור.</div>
</div>


<div
  class="vertical-stack full-width"
  *ngIf="gameStatus.gameState !== 'not-started'">
  <mat-tab-group class="full-height">
    <mat-tab label="המילים במשחק">
      <div class="vertical-stack game-words-panel">
        <h1>{{sampleBoard.question}}</h1>
        <div class="baloon-display">
          <div
            class="baloon-display-heading fade-in-placeholder"
            [ngClass]="{'display': gameStatus.gameState === 'all-done'}">
            <div>בלונים לפיצוץ</div>
            <div class="flex-spacer"></div>
            <div>בלונים לשמירה</div>
          </div>
          <app-poppable-baloons [baloons]="sampleBoard.baloons"></app-poppable-baloons>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="לוח תוצאות">
      <div
      class="vertical-stack">
        <h1>לוח תוצאות</h1>
        <table class="score-board">
          <thead>
            <tr>
              <td>משתתפ/ת</td>
              <td class="col-right">נכון</td>
              <td class="col-wrong">לא נכון</td>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let tid of terminalIds"
              [ngClass]="{completed: gameStatus.terminalStatus[tid].playerCompleted}"
                >
              <td class="col-term">{{terminalInfoForTid(tid)?.username}}</td>
              <td class="col-right">{{gameStatus.terminalStatus[tid].goodPops}}</td>
              <td class="col-wrong">{{gameStatus.terminalStatus[tid].badPops}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </mat-tab>
  </mat-tab-group>

  <div
    class="fade-in-placeholder"
    [ngClass]="{'display': gameStatus.gameState === 'all-done'}">

    <button mat-raised-button
      color="primary"
      (click)="startQuestion()"
      *ngIf="hasMoreQuestions">
      עבור לשאלה הבאה
    </button>

    <div *ngIf="!hasMoreQuestions">
      נגמרו השאלות למשחק זה.
    </div>
  </div>
</div>

<ng-template #statusBarExtensionControls>
  <div class="mode-toggle" *ngIf="gameStatus.gameState ==='not-started'">
    ערוך &nbsp; <mat-slide-toggle [(ngModel)]="editing"></mat-slide-toggle> &nbsp; שחק
   </div>
</ng-template>


