@import '../../../../styles.scss';

:host {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
}

iframe {
  flex-grow: 1;
  width: 100%;
  border: none;
}

div.nav {
  display: flex;
  flex-flow: wrap;
  box-shadow: #00000021 1px 1px 13px 0px;
  padding: 0.25rem 1rem;

  div {
    flex-shrink: 0;

    &.onEndTerm {
      font-weight: bold;

      animation: .5s 2 alternate end-term-animation;

      @keyframes end-term-animation {
        100% {
          scale: 3;
          opacity: 0.3;
        }
      }
    }
  }

  a:hover {
    text-decoration: underline;
  }

  div.final-term {
    display: flex;
    flex-direction: row;
  }
}
