/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
  background: linear-gradient(160deg, #e0e0ff, transparent, transparent);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'varela-round';
}

body * {
  font-family: 'varela-round';
}

.blink {
  animation: blink 0.5s ease infinite alternate;

  @keyframes blink {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

.status-bar {
  display: flex;
  gap: 0.75rem;
  align-items: center;

  width: 100%;
  height: 2rem;
  padding: 1px 0.75rem;
  background: #ffffff40;

  box-sizing: border-box;

  a {
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;
  }

  .active-glow {
    text-shadow: 0 0 8px #983b96;
    * {
      text-shadow: 0 0 8px #983b96;
    }
  }
}

.fill-screen {
  width: 100%;
  height: calc(100vh - 2rem);
}

.flex-spacer {
  flex-grow: 1;
}

.fade-in-placeholder {
  opacity: 0;

  &.display {
    transition: opacity linear 0.5s;
    opacity: 1;
  }
}

.fade-in-on-appearance {
  animation-name: fade-in;
  animation-duration: 2s;
  transition-timing-function: linear;

  @keyframes fade-in {
    0% { opacity: 0; max-width: 0;}
    100% { opacity: 1; max-width: 100vh; }
  }
}

.expand-down-on-display {
  transition: height 0.5s, max-height 0.5s, opacity 0.5s linear;
  opacity: 0;
  height: 0;

  &.display {
    opacity: 1;
    height: 256px;
  }
}

.horizontal-stack {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
  align-items: center;

  &.centered {
    justify-content: center;
  }
}

.vertical-stack {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  align-items: center;

  &.full-width {
    width: 100%;
  }
}

.form-table {
  td {
    vertical-align: top;
    padding-bottom: 0.5rem;
  }
}

.form-field-rtl {
  text-align: right !important;
  direction: rtl;
}

.rtl-snackbar {
  direction: rtl !important;
}

mat-tab-group.full-height {
  .mat-tab-body-wrapper {
    flex-grow: 1;
  }
}

.mat-icon.small {
  height:20px !important;
  width:20px !important;
  font-size:20px !important;
}

.mat-icon-button.small {
  height:24px !important;
  width:24px !important;
  font-size:20px !important;
  line-height: 20px !important;

  .mat-icon {
    font-size:20px !important;
  }
}

.edit-action-bar {
  @extend .expand-down-on-display;

  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  justify-items: flex-end;
  flex-shrink: 0;
  padding: 4px 16px;

  gap: 16px;
  box-sizing: border-box;

  & .separator {
    flex-grow: 1;
  }

  &.editing {
    @extend .display;

    height: 48px;
  }
}

.mode-toggle {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 6px;
}

.scoreboard-col-right {
  text-align: center;

  :not(.heading) & {
    color: green;
  }
}

.scoreboard-col-wrong {
  text-align: center;

  :not(.heading) & {
    color: red;
  }
}

.scoreboard-row-completed {
  color: blue;
}

.scoreboard-row-current-user {
  background-color: yellow !important;
}

.bordered-card {
  padding: 2rem;

  background: white;
  border-radius: 2rem;
  box-shadow: 2px 4px 11px 0px #00000010;
}


@font-face {
  font-family: 'varela-round';
  src: url('assets/VarelaRound-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pfennig';
  src: url('assets/pfennig-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'pfennig';
  src: url('assets/pfennigbold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;

}

@font-face {
  font-family: 'pfennig';
  src: url('assets/pfennigbolditalic-webfont.woff') format('woff');
  font-weight: bold;
  font-style: italic;

}

@font-face {
  font-family: 'pfennig';
  src: url('assets/pfennigitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

