<app-lesson-terminal-provider
  [lessonMoniker]="lessonMoniker"
  [username]="username"
  (connectionStateChange)="connectionStateChanged($event)"
  (terminalMessage)="handleTerminalMessage($event)"
  >

  <div class="terminal-page">

    <div class="status-bar">
      <div>{{pageTitle}}</div>
      <div class="flex-spacer"></div>
      <div *ngIf="lessonConnected && username">
        {{username}}
      </div>

      <div *ngIf="lessonConnected && username">
        |
      </div>

      <div *ngIf="lessonConnected">
        מחובר לשיעור
      </div>
      <div *ngIf="!lessonConnected">
        לא מחובר לשיעור
      </div>
    </div>

    <app-terminal-game-component-host *ngIf="lessonConnected"></app-terminal-game-component-host>

    <div class="connection-form" *ngIf="!lessonConnected">
      <h1>היי!</h1>
      <p>
        כדי להתחבר לשיעור, אנחנו רק צריכים לדעת את השם שלך. אנא הזן אותו למטה, ולחץ על ״התחבר״.
      </p>

      <mat-form-field appearance="fill" class="form-field-rtl">
        <mat-label>שם</mat-label>
        <input matInput [(ngModel)]="username" value="">
      </mat-form-field>

      <button mat-raised-button (click)="handleConnectClicked()">התחבר</button>

    </div>
  </div>

</app-lesson-terminal-provider>
