.terminal-page {
  direction: rtl;

  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;

  align-items: center;
}

.terminal-header {
  display: flex;
  flex-direction: row;
  flex-grow: 0;
}

app-terminal-game-component-host {
  height: 100%;
  width: 100%;

  flex-grow: 1;
}

.connection-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 30rem;
  margin: 1.5rem;

  h1 {
    width: 100%;
  }

  mat-form-field {
    width: 100%;
    margin-top: 3rem;
  }

  button {
    margin-top: 3rem;
  }
}

app-avatar-view {
  border-radius: 100vh;
}

app-avatar-view.selected {
  box-shadow: 2px 2px 13px 2px purple;
  border-radius: 100vh;
}

app-lightbox {
    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 3rem;
    }

    mat-spinner {
      margin-top: 3rem;
    }
}
