<app-lesson-terminal-provider
  (terminalMessage)="handleTerminalMessage($event)"
  >

  <div class="terminal-page">

    <div class="status-bar">
      <div>{{pageTitle}}</div>
      <div class="flex-spacer"></div>
      <div *ngIf="connectionState === 'online' && username" class="horizontal-stack" style="gap: 0">
        <app-avatar-view
          *ngIf="connectionState === 'online' && username"
          [avatar]="selectedAvatar"
          size="small">
        </app-avatar-view>
        &nbsp;
        {{username}}
      </div>

      <div *ngIf="connectionState === 'online' && username">
        |
      </div>

      <div *ngIf="connectionState === 'online'">
        מחובר לשיעור
      </div>
      <div *ngIf="connectionState !== 'online'">
        לא מחובר לשיעור
      </div>
    </div>

    <app-terminal-game-component-host *ngIf="connectionState !== 'nc'"></app-terminal-game-component-host>

    <div class="connection-form" *ngIf="connectionState === 'nc'">
      <h1>היי!</h1>
      <p>
        כדי להתחבר לשיעור, אנחנו רק צריכים לדעת את השם שלך. אנא הזן אותו למטה, ולחץ על ״התחבר״.
      </p>

      <mat-form-field appearance="fill" class="form-field-rtl">
        <mat-label>שם</mat-label>
        <input matInput [(ngModel)]="username" value="">
      </mat-form-field>

      <div class="horizontal-stack" style="width: 100%">
        בחר/י דמות:
        <div class="flex-spacer"></div>
        <app-avatar-view
          *ngFor="let avatar of suggestedAvatars; index as avIndex"
          [avatar]="avatar"
          [ngClass]="{ selected: selectedAvatarIndex == avIndex}"
          (click)="selectedAvatarIndex = avIndex"
          size="big">
        </app-avatar-view>
      </div>

      <button mat-raised-button
        [disabled]="!username"
        (click)="handleConnectClicked()">
        התחבר
      </button>
    </div>

    <app-lightbox *ngIf="connectionState === 'trouble'">
      <div>
         <h1>בעייה בחיבור</h1>
        <p>מנסה להתחבר מחדש...</p>
        <mat-spinner mode="indeterminate" ></mat-spinner>
      </div>
    </app-lightbox>
  </div>

</app-lesson-terminal-provider>
