.dialog-layout {
  display: flex;
  flex-direction: column;
  justify-items: stretch;
  justify-content: stretch;
  height: 100%;

  .mat-list {
    flex-grow: 1;
  }
}

.mat-form-field {
  text-align: right;
  direction: rtl;
  width: 100%;
}

.control-bar {
  button {
    margin-right: 12px;
  }
}

app-editable-string-list {
  flex-grow: 1;
}
