
  .term-spacer {
    min-width: 8rem;
    flex-grow: 1;
  }

  .term-box {
    h1 {
      color: silver;
      font-size: var(--font-size-small);
    }

    font-size: var(--font-size-big);

    &.end-term {
      text-align: end;
    }
  }

  app-countdown-timer-display {
    margin-top: 3rem;
  }
