@import 'src/styles.scss';

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: absolute;
  left: 0rem;
  right: 0rem;
  top: 2rem;
  bottom: 0rem;

  background: rgba(0, 0, 0, 0.5);

  .lightbox-content {
    @extend .bordered-card;

    display: flex;
    flex-direction: column;
    margin: 4rem;

    .term-spacer {
      min-width: 8rem;
      flex-grow: 1;
    }

    .term-box {
      h1 {
        color: silver;
        font-size: 12pt;
      }

      font-size: 18pt;

      &.end-term {
        text-align: end;
      }
    }
  }

  app-countdown-timer-display {
    margin-top: 3rem;
  }
}
