<div *ngIf="gameboard" class="game-on" [ngClass]="{ completed: completed }">
  <h1>{{gameboard?.question}}</h1>

  <app-poppable-baloons [baloons]="gameboard.baloons" (pop)="handlePop($event)">

  </app-poppable-baloons>

  <button
    mat-raised-button
    (click)="handleDoneClicked()"
    [disabled]="completed"
    class="finish-button">סיימתי!</button>
<!--
<div *ngFor="let w of gameboard.baloons" (click)="handlePop(w.word)">
  {{w.word}} -- {{w.status}} -- {{w.position.zz}}
</div>-->
</div>
