:host {
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-items: stretch;
}


.game-on {
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: stretch;

  .finish-button {
    margin: 3rem 0;
  }

  &.completed app-poppable-baloon {
    opacity: 0.3;
  }
}
