:host {
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-items: stretch;
}


.game-on {
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: stretch;

}
