.main-menu-container {
  display: flex;
  height: 100%;
  width: 100%;

  flex-direction: row;
  align-items: center;

  direction: rtl;

  h1 {
    font-size: 1.5rem;
    text-align: center;
  }

  .menu-items-container  {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    align-items: center;

    .menu-item {
      display: flex;
      align-items: center;
      justify-content: center;

      transition-duration: 200ms;
      transition-property: box-shadow background-image;

      font-size: 20px;
      height: 6rem;
      max-width: 40vw;
      width: 100%;

      background-image: linear-gradient(-32deg, #eeeeeea0, #d4c6f1a0, #d4c6f1a0);
      border-radius: 1rem;

      text-decoration: none;

      &:hover {
        box-shadow: 2px 4px 16px 0px #00000020;
        background-image: linear-gradient(-32deg, #eeeeeedf, #d4c6f1df, #d4c6f1df);
      }

      .label {
        opacity: 1;
        color: #75419f;
      }
    }
  }

  .lesson-join-pane {
    display: flex;
    flex-direction: column;

    flex-grow: 1;
    padding: 2rem;
    margin: auto 2rem;
    background: white;
    border-radius: 2rem;
    box-shadow: 2px 4px 11px 0px #00000010;


    max-width: 33vw;

    a {
      display: block;
      img {
        width: 100%;
      }
    }
  }
}
