<!-- Game setup -->
<div *ngIf="!gameStatus?.currentRound" class="vertical-stack fill-screen">
  <div class="horizontal-stack terms-input">
    <div class="vertical-stack">
      <h1>ערך מוצא</h1>
      <app-wiki-term-selector
        [disabled]="generatingRandomRound"
        [gameController]="wikiRaceConsoleController"
        [(term)]="selectedStartTerm"
        (validationStateChanged)="startTermValid = $event"
        >
      </app-wiki-term-selector>
    </div>

    <div class="random-round-panel">
      <button mat-icon-button *ngIf="!generatingRandomRound" (click)="generateRandomRound()">
        <mat-icon>casino</mat-icon>
      </button>

      <mat-progress-spinner
        [ngStyle]="{ visibility: generatingRandomRound ? 'visible' : 'hidden' }"
        mode="indeterminate"
        diameter="25">
      </mat-progress-spinner>
    </div>

    <div class="vertical-stack">
      <h1>ערך יעד</h1>
      <app-wiki-term-selector
        [disabled]="generatingRandomRound"
        [gameController]="wikiRaceConsoleController"
        [(term)]="selectedEndTerm"
        (validationStateChanged)="endTermValid = $event"
        >
      </app-wiki-term-selector>
    </div>
  </div>

  <button mat-raised-button
      color="primary"
      [disabled]="!startTermValid || !endTermValid || !lessonControllerProviderService.lessonStatus?.terminalInfo?.length"
      (click)="startRound()">
      התחל משחק
  </button>
  <div *ngIf="!lessonControllerProviderService.lessonStatus?.terminalInfo?.length">
    משחק זה דורש לפחות משתתף אחד בשיעור.
  </div>

</div>

<!-- In-round -->
<div *ngIf="gameStatus?.currentRound" class="horizontal-stack fill-screen">
  <div class="vertical-stack full-width round-display">
    <ng-container *ngIf="!gameStatus?.roundStatus?.includes('winner')">
      <div class="horizontal-stack round-terms-display">
        <div class="term-box">
          <h1>ערך מוצא</h1>
          {{selectedStartTerm}}
        </div>
        <div class="flex-spacer">&nbsp;</div>
        <div class="term-box end-term">
          <h1>ערך יעד</h1>
          {{selectedEndTerm}}
        </div>
      </div>
      <hr>
      <ng-container *ngIf="gameStatus?.roundStatus == 'running'">
        <h1>זמן לסיום</h1>
        <app-countdown-timer-display
            class="game-timer"
            size="30pt"
            [endTime]="gameStatus?.roundEndTime || 0">
        </app-countdown-timer-display>
      </ng-container>
      <ng-container *ngIf="gameStatus?.roundStatus == 'pre'">
        <h1>מיד מתחילים...</h1>
      </ng-container>
      <hr>
    </ng-container>
    <div class="vertical-stack scoreboard-container">
      <h1>תוצאות</h1>
      <app-score-board-view
        [columns]="scoreboardColumns"
        [entries]="rankedScoreboardEntries"
      >
      </app-score-board-view>
    </div>
  </div>
  <div class="graph-container">
    <app-wiki-race-path-graph
      [gameStatus]="gameStatus"
      [showTerms]="!!gameStatus && (gameStatus.currentRound && (gameStatus.roundStatus == 'winners' || gameStatus.roundStatus == 'no-winners'))">
    </app-wiki-race-path-graph>
  </div>
</div>

<!-- Pre-round -->
<app-wiki-race-pre-round-lightbox *ngIf="isPreRound"
    [round]="gameStatus?.currentRound!"
    [startTime]="gameStatus?.roundStartTime!">
</app-wiki-race-pre-round-lightbox>
