@import '../../../../styles.scss';
:host > .vertical-stack {
  gap: 0;
}

.fading-display {

  transition: opacity .3s linear, height .3s linear, scale .1s linear;

  &.hide {
    opacity: 0;
    scale: 0;
    position:absolute;
  }
}

.edit-action-bar {
  width: 100%;
}

.console-split-screen {
  flex-grow: 1;
}

.borderless-pane {
  h1 {
    flex-grow: 0;
  }

  .game-timer {
    flex-grow: 1;
  }

  .scoreboard-container {
    width: 75%;
    overflow: hidden;

    app-score-board-view {
      width: 100%;
      overflow: hidden;
    }
  }


  .round-display {
    justify-content: center;

    h1 {
      color: silver;
      font-size: var(--font-size-small);
    }

    hr {
      width: 70%;
      border: 0;
      border-top: solid 1px lightgray;
    }

    .term-box {
        font-size: var(--font-size-big);

      &.end-term {
        text-align: end;
      }
    }

    .round-terms-display {
      width: 75%;
    }

    .timer-area {
      height: 7rem;
      justify-content: center;

      div {
        width: 75%;
        text-align: center;
      }
    }
  }

  .editor-display {
    width: 90%;
    height: 100%;
  }
}





