.vertical-stack h1 {
  flex-grow: 0;
}

.graph-container {
  flex-grow: 1;
  width: 100%;
  height: 100%;
}

.terms-input {
  width: 100%;
  justify-items: stretch;

  margin-top: 5rem;
  margin-bottom: 5rem;

  div {
    flex-grow: 1;
  }
}
