@import '../../../../styles.scss';

.vertical-stack h1 {
  flex-grow: 0;
}

.game-timer {
  flex-grow: 1;
}

.scoreboard-container {
  flex-grow: 1;
  width: 75%;

  app-score-board-view {
    width: 100%;
  }

}

.graph-container {
  @extend .bordered-card;
  box-sizing: border-box;

  flex-grow: 1;

  width: 100%;
  height: calc(100% - 4rem);

  margin: 2rem 2rem;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h1 {
    font-size: 1.5rem;
    text-align: center;
  }

  app-lesson-join-qr-display {
    width: 75%;
  }
}

.terms-input {
  width: 100%;
  justify-items: stretch;

  margin-top: 5rem;
  margin-bottom: 5rem;

  div {
    flex-grow: 1;
  }

  div.random-round-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;

    flex-grow: 0;
    width: 4rem;

    button {
      width: 64px;
    }

    mat-icon {
      font-size: 3rem;
      width: 4rem;
    }
  }
}


.round-display {

  h1 {
    color: silver;
    font-size: 12pt;
  }

  hr {
    width: 70%;
    border: 0;
    border-top: solid 1px lightgray;
  }

  .term-box {
      font-size: 18pt;

    &.end-term {
      text-align: end;
    }
  }

  .round-terms-display {
    width: 75%;
  }

  .timer-area {
    height: 7rem;
    justify-content: center;
  }
}


