.roulettes-container {
  display: flex;
  flex-direction: row;
}

.mode-toggle {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 6px;
}

div.spin-button-container {
  width: 100%;
  text-align: center;
}

.game-content-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-main-content {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.spin-button {
  transition: height 0.5s, opacity 0.5s linear;
  font-size: 24px;
  height: 48px;
  width: 128px;
}

.spin-button.editing {
  opacity: 0;
}

.edit-action-bar {
  transition: height 0.5s, opacity 0.5s linear;
  opacity: 0;
  height: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  justify-items: flex-end;
  padding-top: 4px;
  padding-bottom: 4px;

  button {
    margin-right: 16px;
  }
}

.edit-action-bar.editing {
  height: 36px;
  opacity: 1;
}

