.roulettes-container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;

  app-words-roulette-roulette {
    flex-grow: 1;
  }
}

div.spin-button-container {
  width: 100%;
  text-align: center;
  margin-bottom: 1.5rem;
}

.game-content-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-main-content {
  display: flex;
  flex-direction: column;

  flex-grow: 1;
  width: 90%;
}

.spin-button {
  transition: height 0.5s, opacity 0.5s linear;
  font-size: 24px;
  height: 48px;
  width: 128px;
}

.spin-button.editing {
  opacity: 0;
}

