<div class="game-content-wrapper fill-screen">
  <div class="game-main-content">
    <div class="edit-action-bar" [ngClass]="editingClass">
      <button mat-raised-button color="primary" (click)="addWheel()">הוסף גלגל</button>
      <div class="separator"></div>
      <app-favorites-management-buttons
        gameName="words-roulette"
        [(gameDefinition)]="gameDefinition">
      </app-favorites-management-buttons>
    </div>

    <div class="roulettes-container">
      <app-words-roulette-roulette #roulette *ngFor="let wheelDefinition of gameDefinition.wheelDefinitions"
        #roulette1
        [title]="wheelDefinition.wheelTitle"
        [wordList]="wheelDefinition.wheelWordlist"
        (wordListChange)="updateWordList(wheelDefinition, $event)"
        [editing]="editing"
        [enableSelectedWord]="enableSelectedWordsDisplay"
        (wheelDelete)="deleteWheel(wheelDefinition)"
        (wheelRename)="renameWheel(wheelDefinition, $event)"
        (done)="rouletteDone()">
      </app-words-roulette-roulette>
    </div>

    <div class="spin-button-container">
      <button class="spin-button" [ngClass]="editingClass" mat-raised-button color="primary" (click)="spinRoulette()">סובב</button>
    </div>
  </div>
</div>

<ng-template #statusBarExtensionControls>
  <div class="mode-toggle">
    ערוך &nbsp; <mat-slide-toggle [(ngModel)]="editing"></mat-slide-toggle> &nbsp; שחק
   </div>
</ng-template>

